.team1-wrapper {
  display: contents;
}
 
.team1-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.team1-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-content10 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text10 {
  fill: var(--dl-color-primary-ageanblue);
  color: var(--dl-color-primary-ageanblue);
}
 
.team1-text11 {
  width: 1029px;
  height: 99px;
  font-family: "Arial";
}
 
.team1-content11 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-content12 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team1-row1 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team1-container1 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-card10 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image10 {
  width: 131px;
  height: 131px;
  display: flex;
  margin-top: 0px;
  background-size: cover;
  background-image: url("public/Team Headshots/luke%20simpson_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title10 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text12 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-text13 {
  text-align: center;
}
 
.team1-text14 {
  text-align: center;
}
 
.team1-card11 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image11 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/nick%20simpson_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title11 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text15 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-text16 {
  text-align: center;
}
 
.team1-text17 {
  text-align: center;
}
 
.team1-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-card12 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image12 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/kevin%20jewett_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title12 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text18 {
  fill: #666666;
  color: #666666;
  font-style: normal;
  font-weight: 600;
}
 
.team1-text19 {
  text-align: center;
}
 
.team1-text20 {
  text-align: center;
}
 
.team1-social-icons1 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.team1-card13 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image13 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/max%20siler_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title13 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text21 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-text22 {
  text-align: center;
}
 
.team1-text23 {
  text-align: center;
}
 
.team1-social-icons2 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.team1-row2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team1-container3 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-card14 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image14 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/elli%20lobach_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title14 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text24 {
  font-style: normal;
  font-family: "Arial";
  font-weight: 600;
}
 
.team1-text25 {
  text-align: center;
  font-family: "Arial";
}
 
.team1-text26 {
  text-align: center;
}
 
.team1-card15 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image15 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/spencer%20welton_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title15 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text27 {
  font-style: normal;
  font-family: "Arial";
  font-weight: 600;
}
 
.team1-text28 {
  text-align: center;
  font-family: "Arial";
}
 
.team1-text29 {
  font-size: 12px;
  text-align: center;
  font-family: "Arial";
}
 
.team1-container4 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-card16 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image16 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/michael%20sommers_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title16 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text30 {
  font-style: normal;
  font-family: "Arial";
  font-weight: 600;
}
 
.team1-text31 {
  text-align: center;
  font-family: "Arial";
}
 
.team1-text32 {
  font-size: 12px;
  text-align: center;
  font-family: "Arial";
}
 
.team1-card17 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
}
 
.team1-row3 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team1-container5 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-card18 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image17 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/jeff%20anderson-500w.png");
  background-position: center;
}
 
.team1-content20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title17 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text33 {
  font-style: normal;
  font-family: "Arial";
  font-weight: 600;
}
 
.team1-text34 {
  text-align: center;
}
 
.team1-text35 {
  text-align: center;
}
 
.team1-card19 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image18 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/matt%20lyons_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title18 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text36 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-text37 {
  text-align: center;
}
 
.team1-text38 {
  text-align: center;
}
 
.team1-container6 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team1-card20 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image19 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/andy%20luft_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title19 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text39 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-text40 {
  text-align: center;
}
 
.team1-text41 {
  text-align: center;
}
 
.team1-card21 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-placeholder-image20 {
  width: 131px;
  height: 131px;
  display: flex;
  background-size: cover;
  background-image: url("public/Team Headshots/jennifer%20turner_cropped-500w.jpg");
  background-position: top;
}
 
.team1-content23 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-title20 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-text42 {
  font-style: normal;
  font-weight: 600;
}
 
.team1-text43 {
  text-align: center;
}
 
.team1-text44 {
  text-align: center;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text53 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text33 {
  color: #084f70;
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text31 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text41 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text55 {
  color: #666666;
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text49 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text45 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text34 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text26 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text30 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text27 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text63 {
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text46 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 14px;
  font-family: "Arial";
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text50 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text35 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text51 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text62 {
  color: var(--dl-color-gray-grey);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text61 {
  color: #666666;
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text28 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text37 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text56 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text29 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text54 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text39 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text57 {
  color: #666666;
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text38 {
  color: #666666;
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text52 {
  color: var(--dl-color-gray-grey);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text60 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
  font-size: 16px;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text59 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text44 {
  color: #666666;
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text40 {
  color: #666666;
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text25 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text58 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text36 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.team1root-class-name {
  background-color: rgba(196, 221, 229, 0.45);
}
 
@media(max-width: 991px) {
  .team1-content11 {
    gap: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .team1-row1 {
    align-items: center;
    flex-direction: column;
  }
  .team1-row2 {
    align-items: center;
    flex-direction: column;
  }
  .team1-row3 {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .team1-text10 {
    text-align: center;
  }
  .team1-text11 {
    text-align: center;
  }
  .team1-container1 {
    flex-direction: column;
  }
  .team1-container2 {
    flex-direction: column;
  }
  .team1-container3 {
    flex-direction: column;
  }
  .team1-container4 {
    flex-direction: column;
  }
  .team1-container5 {
    flex-direction: column;
  }
  .team1-container6 {
    flex-direction: column;
  }
}

.gallery10-wrapper {
  display: contents;
}
 
.gallery10-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.gallery10-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery10-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery10-text10 {
  text-align: center;
}
 
.gallery10-text11 {
  text-align: center;
}
 
.gallery10-container {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.gallery10-content {
  gap: 24px;
  flex: 1;
  width: 100%;
  height: 600px;
  display: flex;
  overflow: auto;
}
 
.gallery10-image1 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-end;
  border-radius: 0px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/Case Studies/peakline%20at%20copperleaf-poi-003-1500w.jpg");
  background-repeat: space;
  background-position: center;
}
 
.gallery10-text12 {
  fill: var(--dl-color-primary-navyblue);
  color: var(--dl-color-primary-navyblue);
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.75);
}
 
.gallery10-image2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-image: b8fff4c3-97b1-4141-90a5-5a231a562cae;
  background-position: top left;
}
 
.gallery10-text13 {
  fill: var(--dl-color-primary-navyblue);
  color: var(--dl-color-primary-navyblue);
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.75);
}
 
.gallery10-image6 {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-image: url("public/Case Studies/sophia%20square-poi-008-1500w.jpg");
  background-position: right;
}
 
.gallery10-text14 {
  fill: var(--dl-color-primary-navyblue);
  color: var(--dl-color-primary-navyblue);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.75);
}
 
.gallery10-image71 {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-image: url("public/Case Studies/_dsc0698-hdr_1-1500w.jpg");
  background-position: center;
}
 
.gallery10-text15 {
  fill: var(--dl-color-primary-navyblue);
  color: var(--dl-color-primary-navyblue);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.75);
}
 
.gallery10-image72 {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-image: url("public/Case Studies/lumina-exterior-sign-1500w.jpg");
  background-position: left;
}
 
.gallery10-text16 {
  fill: var(--dl-color-primary-navyblue);
  color: var(--dl-color-primary-navyblue);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.75);
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text75 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text76 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text79 {
  font-weight: 700;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text91 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text92 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text95 {
  font-weight: 700;
}
 
.home-text96 {
  font-weight: 700;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text97 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text98 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text101 {
  font-weight: 700;
}
 
.home-text102 {
  font-weight: 700;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text80 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text81 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text84 {
  font-weight: 700;
}
 
.home-text85 {
  font-weight: 700;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text103 {
  color: var(--dl-color-gray-grey);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text86 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text87 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text90 {
  font-weight: 700;
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text104 {
  color: var(--dl-color-primary-ageanblue);
  display: inline-block;
  font-size: 48px;
  font-family: "Arial";
}
 
.gallery10root-class-name {
  background-color: rgba(196, 221, 229, 0.45);
}
 
@media(max-width: 767px) {
  .gallery10-section-title {
    gap: 24px;
  }
  .gallery10-content {
    height: 450px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
 
.home-hero {
  width: 100%;
  height: 482px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: space-between;
}
 
.home-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
 
.home-heading1 {
  color: rgb(8, 79, 112);
  font-size: 48px;
  font-family: "Arial";
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text10 {
  color: rgb(102, 102, 102);
  font-family: "Arial";
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text12 {
  color: var(--dl-color-primary-forestgreen);
  font-style: normal;
  font-weight: 700;
}
 
.home-image {
  width: 50%;
  object-fit: contain;
}
 
.home-by-the-numbers {
  width: 100%;
  height: 529px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tenunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-tenunits);
  background-color: rgba(196, 221, 229, 0.45);
}
 
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text14 {
  color: #084f70;
  font-size: 48px;
  text-align: center;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
 
.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-feature-card1 {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-heading2 {
  color: #334a36;
  font-size: 36px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text15 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-feature-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-heading3 {
  color: #334a36;
  font-size: 36px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text16 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-feature-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-heading4 {
  color: #334a36;
  font-size: 36px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text17 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-feature-card4 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-heading5 {
  color: #334a36;
  font-size: 36px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text18 {
  color: var(--dl-color-gray-500);
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-feature-card5 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-heading6 {
  color: #334a36;
  font-size: 36px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text19 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-feature-card6 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-heading7 {
  color: #334a36;
  font-size: 36px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-text20 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-about-us1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-tenunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  background-color: #ffffff;
}
 
.home-heading-container2 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text21 {
  color: var(--dl-color-primary-ageanblue);
  font-size: 48px;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-secondary-text1 {
  color: var(--dl-color-gray-666666);
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-cta-btn1 {
  color: var(--dl-color-gray-white);
  width: 80%;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-layout-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-primary-forestgreen);
}
 
.home-text-container1 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text24 {
  color: var(--dl-color-gray-666666);
}
 
.home-cta-btn2 {
  color: var(--dl-color-gray-white);
  width: 80%;
  display: none;
  align-self: flex-start;
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-primary-navyblue);
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text25 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text26 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text27 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text28 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text29 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text30 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text31 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
  font-size: 16px;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text33 {
  color: #084f70;
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text34 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text35 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text36 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text37 {
  color: var(--dl-color-primary-navyblue);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text38 {
  color: #666666;
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text39 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text40 {
  color: #666666;
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text41 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text44 {
  color: #666666;
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text45 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text46 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 14px;
  font-family: "Arial";
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text49 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text50 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text51 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text52 {
  color: var(--dl-color-gray-grey);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text53 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text54 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text55 {
  color: #666666;
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text56 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text57 {
  color: #666666;
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text58 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text59 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text60 {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text61 {
  color: #666666;
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text62 {
  color: var(--dl-color-gray-grey);
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text63 {
  display: inline-block;
  font-size: 12px;
  font-family: "Arial";
}
 
.home-about-us2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-tenunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  background-color: #ffffff;
}
 
.home-text-container2 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text64 {
  color: var(--dl-color-gray-666666);
  text-align: right;
}
 
.home-text66 {
  color: var(--dl-color-gray-666666);
}
 
.home-text68 {
  color: var(--dl-color-gray-666666);
}
 
.home-heading-container3 {
  width: 35%;
  display: flex;
  align-items: flex-end;
  margin-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text72 {
  color: var(--dl-color-primary-ageanblue);
  font-size: 48px;
  text-align: right;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-secondary-text2 {
  color: var(--dl-color-gray-666666);
  text-align: right;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-cta-btn3 {
  color: var(--dl-color-gray-white);
  width: 80%;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-layout-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-primary-forestgreen);
}
 
.home-cta-btn4 {
  color: var(--dl-color-gray-white);
  width: 80%;
  display: none;
  align-self: flex-start;
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-primary-navyblue);
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text75 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text76 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text79 {
  font-weight: 700;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text80 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text81 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text84 {
  font-weight: 700;
}
 
.home-text85 {
  font-weight: 700;
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text86 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text87 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text90 {
  font-weight: 700;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text91 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text92 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text95 {
  font-weight: 700;
}
 
.home-text96 {
  font-weight: 700;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text97 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-text98 {
  font-size: 18px;
  font-weight: 700;
}
 
.home-text101 {
  font-weight: 700;
}
 
.home-text102 {
  font-weight: 700;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text103 {
  color: var(--dl-color-gray-grey);
  display: inline-block;
  font-family: "Arial";
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text104 {
  color: var(--dl-color-primary-ageanblue);
  display: inline-block;
  font-size: 48px;
  font-family: "Arial";
}
 
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-hero-text-container {
    width: 80%;
    margin-left: 0px;
  }
  .home-image {
    width: 80%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-feature-card1 {
    align-self: center;
  }
  .home-about-us1 {
    flex-direction: column;
  }
  .home-heading-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-cta-btn1 {
    width: 40%;
    display: none;
  }
  .home-text-container1 {
    width: 100%;
  }
  .home-cta-btn2 {
    width: 280px;
    display: block;
    margin-top: var(--dl-layout-space-doubleunit);
  }
  .home-about-us2 {
    flex-direction: column;
  }
  .home-text-container2 {
    width: 100%;
  }
  .home-heading-container3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-cta-btn3 {
    width: 40%;
    display: none;
  }
  .home-cta-btn4 {
    width: 280px;
    display: block;
    margin-top: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .home-heading1 {
    text-align: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-feature-card2 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-feature-card3 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-feature-card4 {
    width: 70%;
  }
  .home-feature-card5 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-feature-card6 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-about-us1 {
    align-items: center;
  }
  .home-heading-container2 {
    align-items: center;
  }
  .home-text21 {
    text-align: center;
  }
  .home-secondary-text1 {
    text-align: center;
  }
  .home-about-us2 {
    align-items: center;
  }
  .home-heading-container3 {
    align-items: center;
  }
  .home-text72 {
    text-align: center;
  }
  .home-secondary-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .home-hero-text-container {
    width: 100%;
  }
  .home-image {
    width: 100%;
  }
  .home-feature-card1 {
    width: 100%;
  }
  .home-feature-card2 {
    width: 100%;
  }
  .home-feature-card3 {
    width: 100%;
  }
  .home-feature-card4 {
    width: 100%;
  }
  .home-feature-card5 {
    width: 100%;
  }
  .home-feature-card6 {
    width: 100%;
  }
  .home-secondary-text1 {
    text-align: center;
  }
  .home-secondary-text2 {
    text-align: center;
  }
}
